/*
TODO: Redesign call to action button
TODO: Make the white color in cards to switch to another color on hover
TODO: Change card images
TODO: Fix height bug when hovering over cards
TODO: Change background color of the 'about' section
TODO: Add a headline to the slideshow
TODO: Change cards to more useful links like booking hotel, public transport, latest news, etc
*/

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body
{
    background-color: #F0EBEB;
}

header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    z-index: 3;
    position: fixed;
    width: 100%;
}

hr {
    border-top: rgb(224, 224, 224) solid 1px;
    border-bottom: rgb(241, 241, 241) solid 1px;
}

header img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -30px;
    left: 10px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 25%;
    padding: 5px 15px;
    background-color: white;
    color: #323D52;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10%;
    margin: 15px 50px;
    padding: 2px;
    color: #323D52;
    font-weight: bolder;
}

nav a:last-child {
    border-left: #323D52 solid 3px;
    border-right: #323D52 solid 3px;
    padding: 5px;
    border-radius: 12px;
}

nav a:hover {
    opacity: 0.7;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

h1 {
    position: absolute;
    color: #CF884C;
    background: linear-gradient(to right, #323D52, rgba(50, 61, 82, 0));
    font-size: 38px;
    bottom: 0px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 0 45px 0 10px;
}

h2 {
    text-align: center;
}

.slideshow img {
    width: 100%;
    min-width: 1100px;
}

#lake {
    z-index: -1;
    animation: fade 18s -0s infinite;
    position: absolute;
}

#beach {
    z-index: -2;
    animation: fade 18s -6s infinite;
    position: absolute;
}

#harbor {
    z-index: -3;
    animation: fade 18s -12s infinite;
    position: absolute;
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.about {
    background: linear-gradient(to bottom, white, #e0dada);
    height: 100vh;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 5%;
    flex-direction: row;
}

.card2 {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 300px;
    height: 400px;
    background-color: white;
    transform: translateY(-10%);
    border-radius: 9px;
    transition: 1s;
    z-index: 1;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.card2 img {
    width: 100%;
    height: 100%;
    -webkit-mask-image: linear-gradient(to top, transparent 20%, black 100%);
    transform: scale(1.5);

}

.card2:hover {
    background-color: #AB455B;
}


.card {
    width: 300px;
    height: 400px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255)), url('images/church1.jpg');
    background-size: 150%;
    background-position: center;
    transform: translateY(-10%);
    border-radius: 9px;
    transition: 0.3s;
    z-index: 1;
    text-align: center;
    position: relative;
    box-shadow: 0px 0px 5px rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.gradient {
    background: linear-gradient(to top, #ffffff 20%, rgba(255, 255, 255, 0));
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -25%;
    left: 0;
    transition: 0.5s;
}

.card:hover {
    height: 410px;
    width: 310px;
    background-size: 160%;
    filter: brightness(1.2);
    box-shadow: 0px 0px 20px rgb(0, 0, 0, 0.5);
}

.card:hover .gradient {
    bottom: 0;
}

.card-text {
    position: absolute;
    width: 100%;
    top: 90%;
    transition: 0.5s;
}

.card h3 {
    color: #AB455B;
}

.card:hover .card-text {
    transform: translateY(-100%);
}

.card hr {
    border-top: #323D52 solid 1px;
    border-bottom: #323D52 solid 1px;
    margin: 5px auto;
    transition: 0.5s;
    width: 10%;
}

.card:hover hr {
    width: 90%;
}

.card p {
    font-family: 'Courier New', Courier, monospace;
    color: rgb(0, 0, 0, 0);
}

.card:hover p {
    opacity: 1;
    color: #323D52;
}

.pitch-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 9px;
    background: white;
    padding: 15px 15px 15px 30px;
    margin: 0 auto;
    gap: 15px;
    width: 70%;
    min-width: 700px;
    height: 400px;
    text-align: left;
}

.pitch-text {
    font-family: 'Courier New', Courier, monospace;
}

.pitch-box img {
    border-radius: 9px;
}

.grid {
    width: 100%;
    height: 100vh;
    background: #CF884C;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box {
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background-image: url("../images/church1.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
    overflow: hidden;
}

.img-box:nth-child(2) {
    background-image: url("../images/beaches.JPG");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(3) {
    background-image: url("../images/alcohol.jpg");
    background-size: cover;
    background-position: center;
}

.img-box:nth-child(4) {
    background-image: url("../images/temp.jpg");
    background-size: cover;
    background-position: center;
}

.txt-box {
    background: linear-gradient(to right, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
    color: #ffffff;
    position: absolute;
    padding: 15px;
    bottom: -100px;
    left: 0px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
}

.img-box:hover {
    width: 300px;
    cursor: pointer;
}

.img-box:hover .txt-box {
    opacity: 1;
    bottom: 0px;
}

.contact {
    background-color: #AB455B;
    color: white;
    text-align: center;
    padding: 15px;
    height: 70vh;
}

.contact-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

fieldset {
    width: 70%;
    margin: 0 auto;
    border: #883748 solid 2px;
    padding: 15px;
    vertical-align: middle;
}

input {
    display: block;
    margin: 2px auto 15px auto;
}

.checkboxes {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin: 0 auto;
}

input[type="checkbox"] {
    display: inline;
    width: 15px;
    height: 15px;
    vertical-align: top;
}

footer {
    height: 30vh;
    background-color: #323D52;
    color: white;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
}

.row1,
.row2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 55px;
    margin: 0 30px;
}

.row1 > div {
    width: 50%;
}

.subheadings {
    display: flex;
    justify-content: space-between;
}

footer hr {
    border-top: #263655 solid 1px;
    border-bottom: #5e6e8b solid 1px;
    width: 100%;
    margin: 0 auto -50px auto;
    box-sizing: border-box;
}


.fa {
    margin: 0 10px;
    text-align: center;
    color: #323D52;
    font-size: 48px;
    transition: 0.2s;
}

.fa:hover {
    animation-name: bounce;
    animation-duration: 0.5s;
}

@keyframes bounce {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-2px);
    }
    100% {
      transform: translateY(0);
    }
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-twitter:hover {
    color: #55ACEE;
}

.fa-github:hover {
    color: #000000;
}

.fa-youtube:hover {
    color: #bb0000;
}

.fa-linkedin:hover {
    color: #007bb5;
}
