* {
    margin: 0;
    padding: 0;
}

body
{
    background-color: #F0EBEB;
}

header {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: white;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    z-index: 1;
}

hr {
    border-top: rgb(224, 224, 224) solid 1px;
    border-bottom: rgb(241, 241, 241) solid 1px;
}

header img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: -30px;
    left: 10px;
}

.banner {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 25%;
    padding: 5px 15px;
    background-color: white;
    color: #323D52;
    font-weight: bolder;
}

nav {
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 10%;
    margin: 15px 50px;
    padding: 2px;
    color: #323D52;
    font-weight: bolder;
}

.slideshow {
    position: relative;
    overflow: hidden;
    height: 850px;
    width: 100%;
    border-radius: 0 0 20px 20px;
}

h1 {
    position: absolute;
    color: #CF884C;
    background: linear-gradient(to right, #323d52, rgba(50, 61, 82, 0));
    font-size: 38px;
    bottom: 0px;
    margin: 0 auto;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    z-index: 2;
    padding: 0 45px 0 10px;
}

.slideshow img {
    width: 100%;
    min-width: 1100px;
}

#lake {
    z-index: -1;
    animation: fade 18s -0s infinite;
    position: absolute;
}

#beach {
    z-index: -2;
    animation: fade 18s -6s infinite;
    position: absolute;
}

#harbor {
    z-index: -3;
    animation: fade 18s -12s infinite;
    position: absolute;
}

@keyframes fade {
    0% {opacity: 0;}
    20% {opacity: 1;}
    33% {opacity: 1;}
    53% {opacity: 0;}
    100% {opacity: 0;}
}

.content {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    height: 450px;
    background-color: #F0EBEB;
}

.box {
    width: 300px;
    height: 400px;
    background-color: white;
    transform: translateY(-10%);
    border-radius: 9px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    transition: 1s;
    z-index: 3;
    text-align: center;
}

.box:hover {
    height: 450px;
    width: 350px;
    opacity: 1;
}

.box h3 {
    padding: 10px;
    color: #AB455B;
    background-color: #F0EBEB;
    border-radius: 9px 9px 0 0;
}

.box i {
    color: #323D52;
    font-size: 100px;
    margin:  50px auto;
    transition: 2s;
}

.box p {
    opacity: 0;
    transition: 1s;
    margin: 15px;
}

.box:hover p {
    opacity: 1;
}

.box:hover i {
    opacity: 1;
    margin: 10px;
}

.pitch {
    height: 500px;
    background-color: #F0EBEB;
}

.pitch-box {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    border-radius: 9px;
    background-color: white;
    padding: 15px 15px 15px 30px;
    margin: 0 auto;
    gap: 15px;
    width: 70%;
    height: 400px;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.5);
    text-align: left;
}

.pitch-text {
    font-family: 'Courier New', Courier, monospace;
}

.pitch-box img {
    border-radius: 9px;
}
